*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: burlywood;
    margin: 0;
    height: 100vh;
}
h1{
    text-align: center;
    background-color:yellow;
    width: 100%;
    font-size:xx-large;
    font-family: 'Rajdhani', sans-serif;
    padding: 0.5%;
}
p{
    margin-top: 5%;
    margin-left: -12%;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    border-color: black;
}
.container{
    display:flex;
    justify-content: space-between;
    align-items:normal;
    text-align:center;
}
.item{
    padding: 1%;
    margin-left: 5%;
    width: 6%;
    height: 10%;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    margin-bottom: 5%;
    
   

    
    
}

